<?xml version="1.0" encoding="UTF-8"?>

<zorba:iterators
  xmlns:zorba="http://www.zorba-xquery.com"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.zorba-xquery.com ../runtime.xsd">
    
<!--
/*******************************************************************************
* 16.3 fn:current-dateTime
********************************************************************************/
-->
<zorba:iterator name="CurrentDateTimeIterator">

    <zorba:description author="Zorba Team">fn:current-dateTime</zorba:description>
    
    <zorba:function>

        <zorba:signature localname="current-dateTime" prefix="fn">
            <zorba:output>xs:dateTime</zorba:output>
        </zorba:signature>

      <zorba:methods>
        <zorba:accessesDynCtx returnValue="true"/>
      </zorba:methods>

    </zorba:function>
    
</zorba:iterator>

<!--
/*******************************************************************************
* 16.4 fn:current-date
********************************************************************************/
-->

<zorba:iterator name="CurrentDateIterator">

    <zorba:description author="Zorba Team">fn:current-date</zorba:description>
    
    <zorba:function>

        <zorba:signature localname="current-date" prefix="fn">
            <zorba:output>xs:date</zorba:output>
        </zorba:signature>

      <zorba:methods>
        <zorba:accessesDynCtx returnValue="true"/>
      </zorba:methods>

    </zorba:function>
    
</zorba:iterator>

<!--
/*******************************************************************************
* 16.5 fn:current-time
********************************************************************************/
-->

<zorba:iterator name="CurrentTimeIterator">

    <zorba:description author="Zorba Team">fn:current-time</zorba:description>
    
    <zorba:function>

      <zorba:signature localname="current-time" prefix="fn">
          <zorba:output>xs:time</zorba:output>
      </zorba:signature>

      <zorba:methods>
        <zorba:accessesDynCtx returnValue="true"/>
      </zorba:methods>

    </zorba:function>
    
</zorba:iterator>
    
<!--
/*******************************************************************************
* 16.6 fn:implicit-timezone
********************************************************************************/
-->

<zorba:iterator name="ImplicitTimezoneIterator">
    
    <zorba:description author="Zorba Team">fn:implicit-timezone</zorba:description>
    
    <zorba:function>

      <zorba:signature localname="implicit-timezone" prefix="fn">
          <zorba:output>xs:dayTimeDuration</zorba:output>
      </zorba:signature>

      <zorba:methods>
        <zorba:accessesDynCtx returnValue="true"/>
      </zorba:methods>

    </zorba:function>
    
</zorba:iterator>


<!--
/*******************************************************************************
* 16.7 fn:default-collation
********************************************************************************/
-->

<zorba:iterator name="DefaultCollationIterator">
    
    <zorba:description author="Zorba Team">fn:default-collation</zorba:description>
    
    <zorba:function>

      <zorba:signature localname="default-collation" prefix="fn">
          <zorba:output>xs:string</zorba:output>
      </zorba:signature>

      <zorba:methods>
        <zorba:accessesDynCtx returnValue="true"/>
      </zorba:methods>

    </zorba:function>
    
</zorba:iterator>


<!--
/*******************************************************************************
* 15.1 fn:position
********************************************************************************/
-->

<zorba:iterator name="">

  <zorba:description author="Zorba Team">fn:position</zorba:description>

  <zorba:function>
    <zorba:signature localname="position" prefix="fn">
      <zorba:output>xs:integer</zorba:output>
    </zorba:signature>
  </zorba:function>

</zorba:iterator>

<!--
/*******************************************************************************
* 15.2 fn:last
********************************************************************************/
-->

<zorba:iterator name="">

  <zorba:description author="Zorba Team">fn:last</zorba:description>

  <zorba:function>
    <zorba:signature localname="last" prefix="fn">
      <zorba:output>xs:integer</zorba:output>
    </zorba:signature>
  </zorba:function>

</zorba:iterator>

<!--
/*******************************************************************************
* 15.8 fn:static-base-uri
********************************************************************************/
-->

<zorba:iterator name="">

  <zorba:description author="Zorba Team">fn:static-base-uri</zorba:description>

  <zorba:function>
    <zorba:signature localname="static-base-uri" prefix="fn">
      <zorba:output>xs:anyURI?</zorba:output>
    </zorba:signature>
  </zorba:function>

</zorba:iterator>

</zorba:iterators>
