language: cpp
before_script:
  - sudo apt-get update -qq
  - sudo apt-get install libicu-dev libxml2-dev uuid-dev libxerces-c-dev graphviz libboost-filesystem-dev libgeos++-dev imagemagick libmagick++-dev libmagickwand-dev libfop-java libpdfbox-java libtidy-dev libjempbox-java libfontbox-java libarchive-dev libmysqlclient-dev swig python-dev php5-dev ruby-dev openjdk-6-jdk libaccess-bridge-java-jni libxslt-dev libcurl4-openssl-dev libxerces-c-dev php5-dev doxygen libedit-dev php5 python-dev libkvutils-dev
  - sudo apt-get remove bison flex
  - sudo locale-gen de_DE && sudo locale-gen de_DE.UTF-8 && sudo locale-gen fr_FR && sudo locale-gen fr_FR.UTF-8 && sudo update-locale
script: bash travis.sh
cache: apt
matrix:
  fast_finish: true
env:
  matrix:
    - CTEST_ARGS="-R 'FOTS/'"
    - CTEST_ARGS="-R 'test/update/'"
    - CTEST_ARGS="-E '^zorba_info-extraction_module|conversion/currency-convert|FOTS/|test/update/'"
