<section id="notfound">
                <div id="jsoniq" class="container">
                    <div class="klose button"></div>
                    <div class="minimize button"></div>
                    <div class="expand button"></div>
                    <div class="editor">
                        <div class="line active-line">
                            <span class="keyword">try</span><span>&nbsp;</span><span>{</span>
                        </div>
                        <div class="line">
                            <span>&nbsp;&nbsp;</span><span class="fn">http:get</span><span>(</span><span class="string">"{{path}}"</span><span>)</span>
                        </div>
                        <div class="line">
                            <span>}</span><span>&nbsp;</span><span class="keyword">catch</span><span>&nbsp;</span><span>http:not-found</span><span>&nbsp;</span><span>{</span>
                        </div>
                        <div class="line">
                            <span>&nbsp;&nbsp;</span><span class="fn">&lt;p&gt;</span>
                        </div>
                        <div class="line">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text">404 NOT FOUND.</span>
                        </div>
                        <div class="line">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span><a href="/">Take me home<span id="cursor">&nbsp;</span></a></span>
                        </div>
                        <div class="line">
                            <span>&nbsp;&nbsp;</span><span class="fn">&lt;/p&gt;</span>
                        </div>
                        <div class="line">
                            <span>}</span>
                        </div>
                        <div>
                        ~
                        </div>
                        <div>
                        ~
                        </div>
                        <div>
                            <span>-- INSERT --</span>
                            <span class="pull-right">All</span>
                            <span class="pull-right counter"><span id="line-count">6</span>, <span id="col-count">17</span></span>
                        </div>
                    </div>
                </div>
</section>