<div class="container">
    <h1 class="text-center">Download Zorba</h1>
    <hr>
    <h2>Windows</h2>
    <p>Download the <a href="https://github.com/28msec/zorba/releases/download/3.0/zorba-3.0.0-win32-x86.exe">32 bits installer</a> or <a href="https://github.com/28msec/zorba/releases/download/3.0/zorba-3.0.0-win64-x64.exe">64 bits installer</a> that contains all core and optional non-core modules.</p>
    <hr>
    <h2>Debian</h2>
    <p>Linux Debian packages for Zorba and for all external modules are available through a new repository: <a href="https://launchpad.net/~juan457/+archive/zorba">ppa:juan457/zorba</a>.</p>
    <p>For adding this repository to your list of know repositories use:</p>
    <pre>sudo add-apt-repository ppa:juan457/zorba
sudo apt-get update</pre>
    <p>For installing Zorba use:</p>
    <pre>sudo apt-get install zorba</pre>
    <p>And for installing the external modules use:</p>
    <pre>sudo apt-get install zorba-${modulename}-module</pre>
    <hr>
    <h2>MacOS X</h2>
    <p>Download the Mac OS X <a href="https://github.com/28msec/zorba/releases/download/3.0/zorba-3.0_6.mpkg">installer</a>.</p>
    <p>This installer contains Zorba with most of the external modules package and all their dependency packages based on Macports. Some external modules are not included due to missing MacPorts dependencies: schema-tools, mail and all image/animation modules.</p>
    <hr>
    <h2>Source Distribution</h2>
    <p>For building and installing the source distribution, download <a href="https://github.com/28msec/zorba/releases">the source package</a> and follow our <a href="/documentation/latest/zorba/build/build_prerequisites">build and installation instructions</a>.</p>
</div>