<div id="home" scrollspy="">
<div class="jumbotron" id="hero">
    <div class="container">
        <h1 class="text-center">NoSQL Query Processing</h1>
        <p class="text-center">Zorba is a query processor designed for flexible data:<br> from the simplicity of JSON to the completeness of XML.</p>
        <p class="text-center">
            <a href="/download" class="btn btn-primary btn-lg">
                <i class="fa fa-download"></i> Download<br>
                Zorba version 3.0 &ldquo;Kratos&rdquo;
            </a>
        </p>
        <p class="text-center"><small style="font-size: 65%">Zorba is distributed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License, Version 2.0</a>.</small></p>
    </div>
</div>
<div id="sections" class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <i class="fa fa-gears"></i>
                <h2>Modern Query Processing</h2>
            </div>
            <p>
            Zorba is a virtual machine for query processing. Two different syntaxes - XQuery and JSONiq - are featured by the same query compiler and query runtime. XQuery and JSONiq share the same type system, the same operations on atomic types, the same semantics of core expressions such that if-then-else expressions, FLWOR expressions, and the same abstract navigation mechanism for both XML (XPath) and JSON (object and array lookup).
            </p>
        </div>
        <div class="col-sm-6">
             <div class="text-center">
                <i class="fa fa-code-fork"></i>
                <h2>Designed for Flexible Data</h2>
            </div>
            <p>
            The Zorba virtual machine can be used to process JSON using JSONiq or XML using XQuery. Those two languages have syntaxes that are tailored to aesthetic preferences of the corresponding community. More than that, Zorba can even be used to combine processing of JSON and XML. Both languages have been designed from the ground up to process semi-structured data for which SQL is not well adapted.
            </p>       
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <i class="fa fa-book"></i>
                <h2>Advanced Data Processing Libraries</h2>
            </div>
            <p>
            Zorba users have immediate access to advanced, out of the box, data processing libraries. Built-in functions empower queries to use advanced math processing, string matching, data cleaning, or full-text features. Beyond that, conversion (e.g. CSV, PDF, HTML, ZIP), communication (e.g. HTTP, SMTP, IMAP), and connector (e.g. SQLLite, JDBC, CouchBase) libraries allow the user to productively process the Web's data.
            </p>        
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                <i class="fa fa-bolt"></i>
                <h2>Pluggable Store</h2>
            </div>
            <p>
            Zorba allows for plug-in alternative store implementations under the hood of the query processor. This enables users to seamlessly process data stored in different places: main memory, browser, disk, or cloud stores.
            </p>        
        </div>
    </div>
    <hr>
    <h2>Get Involved</h2>
    <p>
        The source code is released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License, Version 2.0</a>.
    </p>
    <h3><i class="fa fa-bug"></i> Source Code &amp; Bug Reports</h3>
    <p>
        Currently the source is hosted on <a href="https://github.com/28msec/zorba" target="_blank">Github</a>.
    </p>
    <p>
        Bug reports are incredibly helpful.
        Please take the time to report bugs and request features in our <a href="https://github.com/28msec/zorba/issues" target="_blank">ticket tracker</a>.         We're always grateful for patches.
    </p>
    <h3><i class="fa fa-comments-o"></i> Mailing-Lists</h3>
    <table class="table">
        <tr>
            <td>User List</td>
            <td><a href="https://groups.google.com/forum/#!forum/zorba-users" target="_blank">Archive</a></td>
            <td><a href="mailto:zorba-users@googlegroups.com" target="_blank">zorba-users@googlegroups.com</a></td>
        </tr>
        <tr>
            <td>Developer List</td>
            <td><a href="https://groups.google.com/forum/#!forum/zorba-dev" target="_blank">Archive</a></td>
            <td><a href="mailto:zorba-dev@googlegroups.com">zorba-dev@googlegroups.com</a></td>
        </tr>
    </table>
    <p></p>
</div>
</div>