img {
  border: 0;
}

.floatright { float: right; }

tt, pre, code {
  font-family: Monaco, monospace;
}

pre {
  /*background-color: black;
  opacity: 0.5;
  color: white;
  padding: 5px;*/
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    margin: 4px 8px 4px 2px;
    padding: 4px 6px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.padding {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#main {
  font-size: 90%;
  max-width: 1260px;
  min-width: 480px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 2px;
  padding-right: 2px;
}


#leftMenu {
  max-width: 210px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

#rightcontent {
  padding-left: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main a {
  
}

#main h1 {
  text-align: center;
  font-size: 160%;
}

#main h2 {
  margin-bottom: 8px;
  padding-left: 6px;
  font-size:120%;
}

#main h3 {
  font-size:110%;
}
	
#main h4 {
  margin-bottom: 2px;
  font-size:100%;
}

a.screenshot img  {
  background:none repeat scroll 0 0 white;
  border:1px solid #BBBBBB;
  margin:7px 14px 7px 0;
  padding:5px;
}

#main li{
  padding: 2px 1px;
}

#main li.none {
  list-style:none;
}

#main a {
  color: #1A41A8;
}

.section {
  background-color: #1A41A8;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  text-align: center;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.leftmenu_active {
  font-weight: bold;
  color: #1A41A8;
}

.no_underline a {
  text-decoration: none;
}

.subsection {
  margin-top: 10px;
  font-size: 13pt;
  font-weight: bold;
}

.subsubsection {
  font-weight: bold;
  margin: 1em 0 0.5em;
}

/* Table */
table.default{
  border: 1px dotted #CCCCCC;
}

table.default td{
  padding: 10px;
  margin: 0px;
}

table.default th{
  padding: 15px 5px 5px 5px;
  color: #666666;
}

table {
  font-size: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
table.funclist {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

table.varlist {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

table.letter {
  padding-top: 10px;
  width: 100%;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
}

table.letter td.left{
  text-align: left;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
  padding: 0;
}

table.letter td.right{
  text-align: right;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
  padding: 0;
}

table.parameter {
  border: none;
  border-collapse: collapse;
  margin: 0px 0px 0px 40px;
}

table.varlist td, table.funclist td {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 0;
}

td.type {
  width: 50pt;
  text-align: center;
}
td.parameter {
  border: none;
  margin-left: 0px;
  vertical-align: top;
  text-align: left;
  padding-left: 0;
  padding-bottom: 0;
}


/* Zorba */


body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #333333;
  background-image: url(images/noisepattern.png);
  padding: 0px;
  margin: 0px;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.left{
  float: left;
}
.right{
  float: right;
}
#header, #footer {
  display: block;
}

#header {
	height: 114px;
	text-align: center;
  border-top: 6px solid #6B91B4;
    margin: 0;
    padding: 0;
}

#header a:hover {
  background-color: none;
}

#logo_container{
  position: relative;
  top: 0;
  left: -20px;
  width: 280px !important;
  overflow: hidden;
}

#logo_container h1,p {
  margin: 0;
}

.innerheader{
  color: #404040;
  width: 900px;
  padding: 0px 10px;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  overflow: visible;
  white-space: nowrap;
}

.innerheader div{
  float: left;
  position: relative;
  white-space: nowrap;
  line-height: 1;
}

.innerheader h1 {
  text-align: left;
  font-size: 42px;
  padding-top: 28px;
  padding-left: 66px;
  font-weight: bolder;
  font-family: 'Lucida Grande',Helvetica,Arial,sans-serif;
}

.innerheader a {
  color: #404040;
  text-align: left;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Lucida Grande',Helvetica,Arial,sans-serif;
}

.innerheader p {
  font-size: 13px;
  padding-top: 5px;
  padding-left: 66px;
  font-family: 'Lucida Grande',Helvetica,Arial,sans-serif;
}

.innerheader img {
  float:left;
  border-top: 5px solid white;
  padding-left: 5px;
}

#innermenu {
  list-style: none;
  text-align: center;
  padding-top: 10px;
  width: 600px;
  position: relative;
  top: 0;
  left: 20px;
    margin: 10px 0;
    padding: 0;
}

#innermenu ul {
  width: 600px;
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}

#innermenu li {
  float: left;
  padding: 0;
  position: relative;
  width: 83px;
  display: block;
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size:12px;
}

#innermenu li.selected a {
  color: white;
  text-decoration: none;
  text-shadow: black -1px -1px 0px;
}

#innermenu ul a{
  background-position: center top;
  background-repeat:no-repeat;
  color: #666;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 2px;
}

#innermenu ul a:hover{
  background-color: #cbe5f7;
}

.documentation {
  background-image:url('../images/documentation.png');
}

.tryzorba {
  background-image:url('../images/terminal.png');
}

.modules {
  background-image:url('../images/modules.png');
}

.download {
  background-image:url('../images/download.png');
}

.tools {
  background-image:url('../images/tools.png');
}

.blog {
  background-image:url('../images/blog.png');
}

.open {
  background-image:url('../images/open.png');
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0px;
  text-align: center;
}

#innerfooter{
  width: 900px;
  margin: auto;
  position: relative;  
}

#innerfooter p {
  height: 40px;
  width: 900px;
  color: #111;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.box {
  /* TODO: IE box shadow and radius ? */
  -webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 3px 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 20px auto;
  padding: 5px;
  background-color: white;
  color: #666;
}

.box p {
  padding: 5px;
}

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	/ *padding: 0;* /
	/ *border: 0;
	font-size: 100%;* /
	/ *font: inherit;* /
	/ *vertical-align: baseline;* /
}*/

h1, h2, h3, h4, h5, h6, p {
	/*margin: 0;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/*line-height: 1;*/
}


/* Left Menu */
span.leftMenu { 
  color: #1A41A8; 
  text-decoration: underline;
  cursor: pointer; 
}

span.leftMenu:hover { 
  color: #1A41A8; 
  text-decoration: underline;
  cursor: hand; 
}

li.none {
  list-style:none;
}

#leftMenu ul li{
  list-style: none;
  padding-left: 16px;
}

#leftMenu ul li{
  padding: 0px 5px 0px 16px;
}


.superscript{
  font-size:xx-small; 
  vertical-align:top;
  text-decoration: none;
}

.subscript{
  font-size:xx-small; 
  vertical-align:bottom;
  text-decoration: none;
}

/* General */
#main p, li, h1, h2, h3
{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}