/****************
 HEADER
 *****************/

body {
  font-family:"Arial";
  color: #000000;
  font-size:14px;
  margin: 0px;
  padding: 0px;
}

img {
  border: 0
}

h1 {
  font-size:160%;
}

h2 {
  margin-bottom: 12px;
  padding-left: 10px;
  font-size:140%;
}

h3 {
  font-size:120%;
}

h4 {
  margin-bottom: 5px;
  font-size:100%;
}

a.screenshot img  {
  background:none repeat scroll 0 0 white;
  border:1px solid #BBBBBB;
  margin:7px 14px 7px 0;
  padding:5px;
}

li{
  padding: 2px 1px;
}

li.none {
  list-style:none;
}

/****************
 LINKS
 *****************/

span.link {
  color: #666666;
  cursor: pointer;
}

span.deprecated {
  text-decoration: line-through;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #B93333;
}

a:link , a:visited {
  color: #666666;
  text-decoration: underline;
}

a:hover , a:active {
  color: #B93333;
}

span.index{
}

span.index .no_link{
  color: #666666;
  padding: 2px 4px;
  border:1px dotted white;
}

span.index a{
  padding: 2px 4px;
  border:1px dotted white;
}

span.index a:hover{
  color: #B93333;
  border:1px dotted #B93333;
}

span.functName a{
  color: #B93333;
  font-weight: bold;
  text-decoration: underline;
}

span.functName a:hover {
  color: #B93333;
  font-weight: bold;
  text-decoration: none;
}

span.funcParam {
  color: #1C863C; /*  #FFCC00; */
}

span.functName {
  color: #B93333;
  font-weight: bold;
  text-decoration: none;
}

span.padding {
  padding: 2px 4px;
}

span.no_underline a{
  color: #B93333;
  font-weight: bold;
  text-decoration: none;
}

span.no_underline a:hover {
  color: #B93333;
  font-weight: bold;
  text-decoration: none;
}

/****************
 MENU
 *****************/

div#leftMenu{
  float: left;
  width: 260px;
  padding: 7.5px;
  border-right: 1px solid #808080;
}

div#leftMenu h1{
  background-color:#FFFFFF;
  color:#888888;
  font-size:80%;
  margin:20px 0 10px;
  padding:3px 0 2px 5px;
}
ul.leftMenu{
  list-style: none;
  padding-left: 5px;
}

ul.leftMenu li{
  padding: 5px 5px 2px 5px;
}
.leftmenu_active{
  color: #B93333;
  font-weight: bolder;
}

.superscript{
  font-size:xx-small; 
  vertical-align:top;
  text-decoration: none;
}

.subscript{
  font-size:xx-small; 
  vertical-align:bottom;
  text-decoration: none;
}

/****************
 MAIN CONTENT
 *****************/

 table.default{
  border: 1px dotted #CCCCCC;
 }

 table.default td{
  padding: 10px;
  margin: 0px;
 }

 table.default th{
  padding: 15px 5px 5px 5px;
  color: #666666;
 }

table {
  font-size: 100%;
}
table.funclist {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

table.varlist {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

table.letter {
  padding-top: 10px;
  width: 100%;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
}

table.letter td.left{
  text-align: left;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
  padding: 0;
}

table.letter td.right{
  text-align: right;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
  padding: 0;
}

table.parameter {
  border: none;
  border-collapse: collapse;
  margin-left: 40px;
}
td {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 0;
}
td.type {
  width: 50pt;
  text-align: center;
}
td.parameter {
  border: none;
  margin-left: 0px;
  vertical-align: top;
  text-align: left;
  padding-left: 0;
  padding-bottom: 0;
}

div#sitecontainer {
  padding:10px;
  min-height:100%;
}

div#allignright{
  text-align:right;
  padding: 0px;
  margin: 0px;
}

div#main{
  padding: 5px;
}

div#level1{
    text-align: justify;
    padding-left: 3px;
    padding-top: 3px;
}


div#centeredcontent{
  padding: 10px 20px;
  margin-left: 200px;
  margin-right: 200px;
}

div#searchbox {
  text-align: right;
  padding:5px 20px;
  z-index: 500;
}

div#rightcontent{
  border-left: 1px solid #808080;
  left:280px;
  padding: 10px 20px;
  position:absolute;
  z-index: 490;
  width: 74%;
}

div.section {
  background-color: #B93333;
  color: #FFFFFF;
  margin-top: 24px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-size: 16pt;
  font-weight: bold;
}

div.subsection {
  font-size: 13pt;
  font-weight: bold;
  margin-top: 6px;
}

div.subsubsection {
  font-size: 11pt;
  margin-bottom: 6px;
  margin-top: 6px;
  font-weight: bold;
}

div.link {
  margin: 0px;
  padding: 5px 10px;
}

pre {
  margin-bottom: 0;
}

pre.signature {
  border: 1px solid #CCCCCC;
  background-color: #f5f5f5;
  padding: 10px;
}

pre.fragment {
  border: 1px solid #CCCCCC;
  background-color: #f5f5f5;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 100%;
}