img {
  border: 0;
}

tt, pre, code {
  font-family: Monaco, monospace;
}

pre {
  background-color: black;
  opacity: 0.5;
  color: white;
  padding: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.padding {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#main {
  font-size: 90%;
  max-width: 1260px;
  min-width: 480px;
  padding-bottom: 0px;
  padding-top: 0px;
}


#leftMenu {
  max-width: 210px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

#rightcontent {
  padding-left: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main a {
  
}

#main h1 {
  text-align: center;
  font-size: 160%;
}

#main h2 {
  margin-bottom: 8px;
  padding-left: 6px;
  font-size:120%;
}

#main h3 {
  font-size:110%;
}
	
#main h4 {
  margin-bottom: 2px;
  font-size:100%;
}

a.screenshot img  {
  background:none repeat scroll 0 0 white;
  border:1px solid #BBBBBB;
  margin:7px 14px 7px 0;
  padding:5px;
}

#main li{
  padding: 2px 1px;
}

#main li.none {
  list-style:none;
}

#main a {
  color: #1A41A8;
}

.section {
  background-color: #1A41A8;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  text-align: center;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.leftmenu_active {
  font-weight: bold;
  color: #1A41A8;
}

.no_underline a {
  text-decoration: none;
}

.subsection {
  margin-top: 10px;
  font-size: 13pt;
  font-weight: bold;
}

.subsubsection {
  font-weight: bold;
}

/* Table */
table.default{
  border: 1px dotted #CCCCCC;
}

table.default td{
  padding: 10px;
  margin: 0px;
}

table.default th{
  padding: 15px 5px 5px 5px;
  color: #666666;
}

table {
  font-size: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
table.funclist {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

table.varlist {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

table.letter {
  padding-top: 10px;
  width: 100%;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
}

table.letter td.left{
  text-align: left;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
  padding: 0;
}

table.letter td.right{
  text-align: right;
  border-style: none;
  border-width: 0px;
  border-spacing: 0;
  padding: 0;
}

table.parameter {
  border: none;
  border-collapse: collapse;
  margin-left: 40px;
}
td {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 0;
}
td.type {
  width: 50pt;
  text-align: center;
}
td.parameter {
  border: none;
  margin-left: 0px;
  vertical-align: top;
  text-align: left;
  padding-left: 0;
  padding-bottom: 0;
}


/* Zorba */

body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #333333;
  background-image: url(images/noisepattern.png);
  padding: 0px;
  margin: 0px;
}

#header {
  color: white;  
}

#header h1 {
  text-align: left;
  font-size: 25px;
}

#header a {
  color: #666;
}

#header {
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
  background: -moz-linear-gradient(top, #555, #333);
  background: gradient(linear, left top, left bottom, from(#555), to(#333));
}

#footer {
  height: 40px;
  bottom: 0px;
  color: white;
  background: -webkit-gradient(linear, left bottom, right top, from(#888787), to(#666));
  background: -moz-linear-gradient(left bottom, #888787, #666);
  background: gradient(linear, left bottom, right top, from(#888787), to(#666));
}

/*
#main {
  color: #666;
  padding: 10px;
  width: 900px;
  margin: auto;

  -webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 3px 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 20px;
  background-color: white;
};
*/

.wrapper {
  width: 900px;
  margin: auto;
  position: relative;  
}

.wrapper h1, .wrapper p {
  padding-left: 20px;
}

.wrapper h1 {
  color: white;
  text-shadow: black -1px -1px 0px;
  font-size: 25px;
  padding-top: 10px;
  padding: 0px;
  margin: 0px;
}

.wrapper p{
  text-shadow: black -1px -1px 0px;
  padding:0px;
  margin:0px;
}

#footer .wrapper p {
  height: 40px;
  width: 900px;
  color: #EEE;
  text-shadow: #555 -1px -1px 0px;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#header #menu {
  list-style: none;
  position: absolute;
  right: 0;
  top: 12px;
}

#header #menu li {
  float: left;
  padding: 15px 15px;
  position: relative;
}

#header #menu li.selected a {
  color: white;
  text-decoration: none;
  text-shadow: black -1px -1px 0px;
}

#header #menu li a {
  text-decoration: none;
  text-shadow: black -1px -1px 0px;
}

#featuring {
  height: 70px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 3px 5px;
  /* TODO: box shadow in IE: http://ole-laursen.blogspot.com/2009/08/using-css3-box-shadow-with-ie.html */
}

#featuring > ul {
  width: 900px;
  margin: auto;
  position: relative;  
}

#featuring > ul > li {
  width: 25%;
  text-align: center;
  color: #666;
}

.documentation {
  background-image:url('../images/documentation.png');
  background-position: center top;
  background-repeat:no-repeat;
  padding-top: 50px;
  float: left;
}

.tryzorba {
  background-image:url('../images/terminal.png');
  background-position: center top;
  background-repeat:no-repeat;
  padding-top: 50px;
  float: left;
}

.modules {
  background-image:url('../images/modules.png');
  background-position: center top;
  background-repeat:no-repeat;
  padding-top: 50px;
  float: left;
}

.download {
  background-image:url('../images/download.png');
  background-position: center top;
  background-repeat:no-repeat;
  padding-top: 50px;
  float: left;
}

/* Left Menu */
li.none {
  list-style:none;
}

#leftMenu ul li{
  list-style: none;
  padding-left: 16px;
}

#leftMenu ul li{
  padding: 0px 5px 0px 16px;
}


.superscript{
  font-size:xx-small; 
  vertical-align:top;
  text-decoration: none;
}

.subscript{
  font-size:xx-small; 
  vertical-align:bottom;
  text-decoration: none;
}
