a {
    color: #cc0000;
}

div.section {
    background-color: #B93333;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 12px;
    padding-left: 10px;
    font-size: 16pt;
	font-weight: bold;
}
div.subsection {
    font-size: 13pt;
	font-weight: bold;
    margin-top: 6px;
}

div.subsubsection {
    font-size: 11pt;
    margin-bottom: 6px;
    margin-top: 6px;
	font-weight: bold;
}

a:link , a:visited {
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

body {
    font-family:"Arial";
    color: #000000;
    font-size: 11pt;
}

img {
    border: 0
}

h1 {
    font-size: 20pt
}

h2 {
    margin-bottom: 12px;
    padding-left: 10px;
    font-size: 14pt;
}
h3 {
    font-size: 10pt;
}
h4 {
    margin-bottom: 5px;
    font-size: 10pt;
}

p.annotationText {
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 40px;
}

p.subcat { margin-top: 1px }
p.breadcrumbs { color: #000000; font-size: 8pt; margin-bottom: 0 }
p.oreillycopy { color: red; font-size: 9pt }
p.breadcrumbs a:link { color: #000000; }
p.breadcrumbs a:visited { color: #000000; }
p.footer {
     font-size: 8pt;
     text-align: center;
     margin-top: 0;
     margin-bottom: 0
}

.sitehead {
    width: 100%;
    background-color: #8FBC8F
}
.sitename {
    text-align: right;
    font-size: 18.0pt;
    font-weight:bold
}
.sitename2 {
    margin-bottom: 0
}

table {
    font-size: 11pt
}
table.funclist {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}
table.parameter {
    border: none;
    border-collapse: collapse;
    margin-left: 40px;
}
td {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 0;
}
td.type {
    width: 50pt;
    text-align: center;
}
td.parameter {
    border: none;
    margin-left: 0px;
    vertical-align: top;
    text-align: left;
    padding-left: 0;
    padding-bottom: 0;
}

hr {
   color:#333333
}

.label {
    width: 35%;
}
td.rightCol {
    width: 220px; vertical-align: top
}
td.spacer {
    width: 10px
}

pre {
    margin-bottom: 0;
}
pre.signature {
    border: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    padding: 10px;
}
pre.fragment {
    border: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
