table.ft_rels {
  border-collapse: collapse;
}
table.ft_rels td {
  border-width: 1px;
  border-color: #CCCCCC;
  border-style: solid;
  padding: 2px;
  vertical-align: top;
}
table.ft_rels th {
  border-width: 1px;
  border-color: #CCCCCC;
  border-style: solid;
  padding: 2px;
  text-align: left;
}
